<!DOCTYPE html>
<html>
    <title>{{.title}}</title>
  <body>
    <div class="d-block">
        <input id="url"/>
        <button onclick="update()">update</button>
    </div>
    <canvas id="qr"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script>
        const qr = new QRious({element: document.getElementById('qr')})
      function update() {
          qr.value = document.querySelector("#url").value
          alert("updated")
      };
    </script>
  </body>
</html>